@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #6F7ABD;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #6F83BD;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #B9E1F9;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #CFE2FA;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #8EA8F5;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
